.hamburger {
	background-image: url('./media/icons/menu open.png');
	height: 1.5rem;
	cursor: pointer;
	width: 2rem;
	background-repeat: no-repeat;
	background-size: cover;
}

.hamburger.active {
	background-image: url('./media/icons/menu close.png');
	height: 1.5rem;
	width: 1.5rem;
}

.navigation {
	width: 100%;
	max-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 20;
	place-items: center;
	opacity: 0.9;
	display: grid;
	transform: translateX(-100%);
	transition: transform 0.2s;
	background: var(--primary-red);
}

.navigation.active {
	transform: translateX(0);
}

.navigation ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 3rem;
	min-width: 30%;
	max-width: 50%;
}

.navigation ul > li {
	text-align: center;
}

.nav_link {
	color: white;
	font-size: 3rem;
	text-decoration: none;
	transition: all 0.2s;
	font-family: var(--lato-font-family);
}
.nav_link:hover {
	text-decoration: underline;
	font-size: 3.5rem;
}
