@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Mohave:wght@700&family=Nothing+You+Could+Do&display=swap');

:root {
	--primary-red: #70000e;
	--lato-font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	max-width: 100vw;
	overflow-x: hidden;
}

.video_container {
	min-width: 100vw;
	min-height: 100vh;
	max-height: 100vh;
	position: relative;
	overflow: hidden;
	background: var(--primary-red);
	background-image: url('./media/cover.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.video_container video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--primary-red);
	z-index: 1;
	mix-blend-mode: soft-light;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 7rem;
	z-index: 25;
	color: white;
	padding: 0 3%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Nothing You Could Do', cursive;
}

.header.transparent {
	background: transparent;
}
